<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script data-ad-client="ca-pub-6985265472004681" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVV11K86LR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HVV11K86LR');
    </script>
    <meta charset="utf-8"/>
    <meta name="description" content="Free weather now">
    <meta name="keywords" content="eazyweather,eazy weather,easyweather,weather,temperature,snow,rain,sun,cloudy,wind,storms">
    <meta name="author" content="Maurice Johnson">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>EazyWeather</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/title.css">
    <script src="../js/index.js"></script>
</head>
<body>
<br>
<div id="mainDiv" align="center">
    <h1 id="mainTitle">eazyweather</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="color: #3A506B; font-weight: bolder; font-size: 60px">404</h1>
    <h1 style="color: #3A506B;">Page Not Found :(</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<footer id="termsPpFooter" class="container-fluid text-center">
    <br><br>
    <a class="myLink" href="/terms">Terms and Conditions</a><span> | </span><a class="myLink" href="/privacy">Privacy Policy</a>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/

    var latitude = /*[[${latitude}]]*/ 'default';
    var longitude = /*[[${longitude}]]*/ 'default';

    /*]]>*/
</script>
<canvas class="background"></canvas>
<script src="../js/particles.js"></script>
</body>
</html>