<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EasyWeather - 404</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/title.css">
    <script src="js/index.js"></script>
</head>
<body>
<br>
<div id="mainDiv" align="center">
    <h1 id="mainTitle">Welcome to EasyWeather.com!</h1><br>
    <span id="errorTitle404">404</span>
</div>
</body>
</html>