@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

#location {
    display: inline;
}
#country {
    display: inline;
}
#errorTitle404{
    font-size: 85px;
    text-shadow: -3px 0 #81B29A, 0 3px #81B29A, 3px 0 #81B29A, 0 -3px #81B29A;
    font-weight: bolder;
}

.card, #currentIcon {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
table {
    table-layout: auto!important;
    width: 180px!important;
    white-space: nowrap!important;
}
td {
    text-align: center!important;
}
#dailyDialog, #hourlyDialog{
    position: relative;
    display: table; /* This is important */
    /*
    overflow-y: initial!important;
    */
    width: auto;
    min-width: 400px;
}
#hourlyForecastDiv{
    height: 470px;
}
html, body {
    padding: 0!important;
    margin: 0!important;
    height: 100%!important;
    width: 100%!important;
}
body {
    font-family: 'Lato', sans-serif;
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
#currentWeatherCard {
    color: #3D405B;
    border: #E07A5F 2px dashed;
}
#currentWeatherCard:hover {
    border: #81B29A 3px dashed;
}
#currentTime{
    color: #81B29A;
    font-weight: bold;
}
#mainDiv {
    position:relative;
    z-index:9999;
}
#mainTitle{
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    color: #E07A5F;
}
#mainTitle:hover{
    cursor: pointer;
    color: #81B29A
}
.myLink:hover{
    font-weight: bolder;
    cursor: pointer;
    color: #81B29A;
}
.myLink {
    color: #E07A5F;
}
.alert {
    width:30%;
}
#currentLocButton:hover {
    color: #81B29A;
    cursor: pointer;
    text-decoration: underline;
}
#currentLocButton {
    color: #E07A5F;
}
.customError {
    border:1px solid red;
}
#map {
    padding: 0px 20% 0px 20%;
    height: 100%;
    width: 100%;
    position:relative;
    z-index:9999;
}
#dailyForecastTable, #hourlyForecastTable {
    border:  1px dotted #81B29A;
}
.componentTitle {
    font-weight: bolder;
    color: #E07A5F;
    font-family: 'Alata', sans-serif;
}