@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yeseva+One&display=swap');


@media (max-width: 990px) {
#searchForm, #unitSelect, #unitDiv {
    width: 100%!important;
}
    #unitSelect{
        text-align: center!important;
    }
    #endNavDiv{
        padding-right: 0px!important;
    }
    .scrollImg{
        width: 95%!important;
    }
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    #mainTitle {
        font-size: 45px!important;
    }
    #map {
        padding: 0% 3% 60% 3%;
    }
    #showRecentLoc{
        font-size: 20px!important;
    }
    #currentWeatherCard {
        width: 100%;
        color: #3D405B;
        border: #3A506B 1px dashed;
    }
    #dailyDivContent, #hourlyDivContent {
        width: 100%;
    }
    .row {
        white-space: nowrap;
        text-align: center;
        padding-bottom: 40px;
        font-size: 16px;
    }
    #locError{
        width: 85%;
    }

}

@media only screen and (min-width: 700px) {
    #map {
        padding: 5px 10% 5px 10%;
    }
    #currentWeatherCard {
        width: 80%;
        color: #3D405B;
        border: #3A506B 1px dashed;
    }
    #dailyDivContent, #hourlyDivContent {
        width: 85%;
    }
}

@media only screen and (min-width: 900px) {
    #currentWeatherCard {
        width: 60%;
        color: #3D405B;
        border: #3A506B 1px dashed;
    }
    #dailyDivContent, #hourlyDivContent {
        width: 100%;
    }
    #locError{
        width: 400px;
    }
}


#fullLocation{
    overflow: hidden;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 75%;
}
#location {
    display: inline;
}
#country {
    display: inline;
}
#errorTitle404{
    font-family: 'Raleway', sans-serif;
    font-size: 85px;
    text-shadow: -3px 0 #2D82B7, 0 3px #2D82B7, 3px 0 #2D82B7, 0 -3px #2D82B7;
    font-weight: bolder;
}

.card, #currentIcon {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
/*table {
    table-layout: auto!important;
    width: 180px!important;
    white-space: nowrap!important;
}
td {
    text-align: center!important;
}*/
html, body {
    padding: 0!important;
    margin: 0!important;
    height: 100%!important;
    width: 100%!important;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2D82B7 !important;
}
#currentWeatherCard:hover {
    border: #2D82B7 1px dotted;
}
#currentTime{
    color: #2D82B7;
    font-weight: bold;
    overflow: hidden;
    white-space: normal;
}
#mainDiv, #termsPpFooter {
    position:relative;
    z-index:9999;
}
#mainDiv{
    width: 100%;
}
#mainTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 0 0 3px #2D82B7, 0 0 5px #2D82B7;
}
.logo{
    -webkit-filter: drop-shadow(1px 1px 0 #2D82B7)
    drop-shadow(-1px -1px 0 #2D82B7);
    filter: drop-shadow(1px 1px 0 #2D82B7)
    drop-shadow(-1px -1px 0 #2D82B7);
}
.logo:hover{
    -webkit-filter: drop-shadow(1px 1px 0 whitesmoke)
    drop-shadow(-1px -1px 0 whitesmoke);
    filter: drop-shadow(1px 1px 0 whitesmoke)
    drop-shadow(-1px -1px 0 whitesmoke);
}
#logoTitle:hover{
    cursor: pointer;
    color: #2D82B7;
}
#showRecentLoc{
    font-size: 25px;
}
#mainTitle:hover{
    text-shadow: 0 0 3px whitesmoke, 0 0 5px whitesmoke;
}
.myLink:hover{
    font-weight: bolder;
    cursor: pointer;
    color: #2D82B7;
}
.myLink {
    color: #3A506B;
}
.alert {
    width:30%;
}
#currentLocButton:hover {
    cursor: pointer;
    text-decoration: underline;
}
.customError {
    border:1px solid red;
}
#map {
    height: 100%;
    width: 100%;
    position:relative;
    z-index:9999;
}

nav, #demoSlide, .navbar-collapse {
    position:relative;
    z-index:9999;
}
.navbar-custom {
    opacity: 0.8;
    background-color: rgb(51,51,51);
}
.componentTitle {
    font-weight: bolder;
    color: #2D82B7;
    font-family: 'Raleway', sans-serif;
}
#getWeatherLink{
    word-wrap:break-word;
}
#hourlyForecastDiv, #dailyForecastDiv{
    height: 350px;
    width: 100%;
    background-color: #3A506B;
    color: whitesmoke;
}
#detailsCard{
    background-color: #2D82B7;
    border: whitesmoke 1px dotted;
    width: 92%;
}
.mainCardTableColumn {
    margin: 0 auto;
}
#mainCardBody{
    margin: 0 auto;
}
span {
    font-size: 21px;
}
small, p {
    font-size: 17px;
}